/* ---------- ГЛОБАЛЬНЫЙ ОВЕРЛЕЙ ---------- */

.v-loading-indicator {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: auto;
    animation: fadein 0.8s ease-out 0.2s normal 1 both;
    z-index: 2147483647;
    display: none !Important;
}

vaadin-connection-indicator[loading] {
    /* перекрываем весь viewport */
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;    /* вертикальный центр */
    justify-content: center;/* горизонтальный центр */
    pointer-events: auto;
    animation: fadein 0.8s ease-out 0.2s normal 1 both;
    z-index: 2147483647;
}

vaadin-connection-indicator[loading] .v-loading-indicator {
    opacity: 1;
}

vaadin-connection-indicator[loading]::before {
    content: "";
    position: absolute;
    inset: 0;
    animation: fadein 0.8s ease-out 0.2s normal 1 both;
}

vaadin-connection-indicator[loading] .v-loading-indicator {
    position: relative;     /* важно ‑ для абсолютных before/after */
    width: 48px;
    height: 24px;
    border: 1px solid #0d273a;
    background: transparent;
}

vaadin-connection-indicator[loading] .v-loading-indicator::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 12px;
    border: 1px solid #023211;
    box-sizing: border-box;
}

/* левый бегущий индикатор (AnimLoader) */
vaadin-connection-indicator[loading] .v-loading-indicator::before {
    content: '';
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 80%;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
}

@keyframes animloader {
    0%   { box-shadow: 11px 0 rgba(51,122,183,0), 22px 0 rgba(51,122,183,0),
    33px 0 rgba(51,122,183,0), 44px 0 rgba(51,122,183,0); }
    25%  { box-shadow: 11px 0 #e11414, 22px 0 rgba(51,122,183,0),
    33px 0 rgba(29, 109, 174, 0), 44px 0 rgba(51,122,183,0); }
    50%  { box-shadow: 11px 0 #cfba30, 22px 0 #ae9634,
    33px 0 rgba(51,122,183,0), 44px 0 rgba(51,122,183,0); }
    75%  { box-shadow: 11px 0 #aeb733, 22px 0 #96b733,
    33px 0 #fff41f, 44px 0 rgba(51,122,183,0); }
    100% { box-shadow: 11px 0 #40ac36, 22px 0 #33b735,
    33px 0 #45b733, 44px 0 #48f805; }
}

@keyframes fadein {
    0% {
        background: rgba(0, 0, 0, 0);
    }
    100% {
        background: rgba(87, 87, 87, 0.5);
    }
}

@keyframes fadein-loading {
    0% {
        background: rgba(0, 0, 0, 0);
    }
    100% {
        background: rgba(174, 174, 174, 0.5);
    }
}

vaadin-connection-indicator .v-status-message {
    display: none !important;
}

vaadin-connection-indicator[reconnecting] .v-status-message {
    animation: show-reconnecting-status 10s;
}

vaadin-connection-indicator[reconnecting] .v-status-message span::before {
    content: '';
    width: 1em;
    height: 1em;
    border-top: 2px solid var(--status-spinner-color, var(--lumo-primary-color, var(--material-primary-color, blue)));
    border-left: 2px solid var(--status-spinner-color, var(--lumo-primary-color, var(--material-primary-color, blue)));
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: v-spin 0.4s linear infinite;
    margin: 0 0.5em;
}

@keyframes v-spin {
    100% {
        transform: rotate(360deg);
    }
}

vaadin-connection-indicator[reconnecting] .v-status-message span::before {
    content: '';
    width: 1em;
    height: 1em;
    border-top: 2px solid var(--status-spinner-color, var(--lumo-primary-color, var(--material-primary-color, blue)));
    border-left: 2px solid var(--status-spinner-color, var(--lumo-primary-color, var(--material-primary-color, blue)));
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: v-spin 0.4s linear infinite;
    margin: 0 0.5em;
}
